/*.headerPrincipal-titulo {
    display: inline-block;
    vertical-align: middle;
}


.headerPrincipal-nav {
    display: inline-block;
    vertical-align: middle;
    margin-left: 90%;
}*/

.headerPrincipal  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerPrincipal-nav {
    display: flex;
}